/reference-core/target/
/reference-declarative/target/
/reference-statemachine/target/
/reference-declarative-extended/target/
/reference-fx/target/
/case-studies/fx-reconciler/target/
/reference-utils/target/
/tutorial/quickstart/target/
/tutorial/wordcount/target/
/tutorial/wordcount/nbproject/