<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">target/generated-sources/testlog/</Property>
    </Properties>
     
    <Appenders>
        <RandomAccessFile  name="fileLogger" fileName="${basePath}/creditMonitorAudit.yml" append="false" immediateFlush="true">
            <PatternLayout>
                <pattern>%msg%n</pattern>
            </PatternLayout>
        </RandomAccessFile>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-6level] %d{HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info" additivity="false">
            <appender-ref ref="fileLogger" level="debug" />
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>
